<p>Selecione o formulário</p>
<div class="collection">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action"
        routerLinkActive="active"
        *ngFor="let gps of gpss"
        [routerLink]="['/inscricao', gps.id]">
      {{ gps.nome }}</a>     
     </div>
     <nav aria-label="Page navigation example" style="margin-top:25px;">
        <ul class="pagination"> 
        <li class="page-item"><a class="page-link" [routerLink]="['/inscricao']" [queryParams]="{pagina:1}">Anterior</a></li>
          <li class="page-item"><a class="page-link" [routerLink]="['/inscricao']" [queryParams]="{pagina:1}">1</a></li>
          <li class="page-item"><a class="page-link" [routerLink]="['/inscricao']" [queryParams]="{pagina:2}">2</a></li>
          <li class="page-item"><a class="page-link" [routerLink]="['/inscricao']" [queryParams]="{pagina:3}">3</a></li>
          <li class="page-item"><a class="page-link" href="#" (click)="proximaPagina()">Próxima</a></li>
        </ul>
      </nav>
