<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4><i class="bi bi-chevron-right"></i> Home</h4>
    </div>
    <div class="float-right"></div>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="col-sm-12">
        <h1 class="display-4">Bem vindo! </h1>
    <p class="lead">Escolha sua opção pelo menu.</p>
    <hr class="my-4">
    <p>Este é um projeto em fase de teste, não utilize informações reais.</p>
    <a class="btn btn-primary btn-dark" [routerLink]="['/inscricao']" role="button"><i class="bi bi-clipboard-check"></i> Inscreva-se</a>
      </div>
    </div>
  </div>
</div>
